## IMPORT LIBRARIES

In [21]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler

## LOAD DATASET

In [22]:
df = pd.read_csv("adult.csv")
df.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

## Identify categorical and numerical features

In [24]:
categorical_cols = df.select_dtypes(include=['object']).columns
numerical_cols = df.select_dtypes(include=['int64']).columns

In [25]:
list(categorical_cols)

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'gender',
 'native-country',
 'income']

In [26]:
list(numerical_cols)

['age',
 'fnlwgt',
 'educational-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week']

In [27]:
df.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

## Apply Label Encoding where order exists

In [28]:
label_enc_cols = ['income']

In [29]:
le = LabelEncoder()
for col in label_enc_cols:
    df[col] = le.fit_transform(df[col])

In [30]:
label_enc_cols

['income']

## Apply One-Hot Encoding where order does not exist

In [31]:
onehot_cols = list(set(categorical_cols) - set(label_enc_cols))
df = pd.get_dummies(df, columns=onehot_cols, drop_first=True)

In [32]:
onehot_cols

['marital-status',
 'native-country',
 'occupation',
 'relationship',
 'race',
 'workclass',
 'education',
 'gender']

## Scale numerical features using StandardScaler

In [34]:
scaler = StandardScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

## Compare model readiness before and after scaling

In [36]:
df.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,income,marital-status_Married-AF-spouse,marital-status_Married-civ-spouse,marital-status_Married-spouse-absent,...,education_Assoc-acdm,education_Assoc-voc,education_Bachelors,education_Doctorate,education_HS-grad,education_Masters,education_Preschool,education_Prof-school,education_Some-college,gender_Male
0,-0.995129,0.351675,-1.197259,-0.144804,-0.217127,-0.034087,0,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,-0.046942,-0.945524,-0.419335,-0.144804,-0.217127,0.772930,0,False,True,False,...,False,False,False,False,True,False,False,False,False,True
2,-0.776316,1.394723,0.747550,-0.144804,-0.217127,-0.034087,1,False,True,False,...,True,False,False,False,False,False,False,False,False,True
3,0.390683,-0.277844,-0.030373,0.886874,-0.217127,-0.034087,1,False,True,False,...,False,False,False,False,False,False,False,False,True,True
4,-1.505691,-0.815954,-0.030373,-0.144804,-0.217127,-0.841104,0,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [38]:
df.shape

(48842, 101)

## Save processed dataset

In [39]:
df.to_csv("adult_preprocessed.csv", index=False)

* Categorical features converted to numeric format
* Ordered category used Label Encoding
* Unordered categories used One-Hot Encoding
* Numerical features scaled to mean=0 and std=1
* Dataset is now ML-model ready